$mobile-screen-sx: 345px;
$mobile-screen-sm: 430px;
$mobile-screen: 768px;
$desktop-screen-base: 1024px;
$desktop-screen-sxga: 1280px;
$desktop-screen-hd: 1440px;
$desktop-screen-uhd: 1920px;
$desktop-screen-4k: 2560px;

@mixin mobile-screen-345 {
  @media (max-width: #{$mobile-screen-sx}) {
    @content;
  }
}

@mixin mobile-screen-430 {
  @media (max-width: #{$mobile-screen-sm}) {
    @content;
  }
}

@mixin mobile-screen-768 {
  @media (max-width: #{$mobile-screen}) {
    @content;
  }
}

@mixin mobile-screen-1024 {
  @media (max-width: #{$desktop-screen-base}) {
    @content;
  }
}

// Responsive for desktop
@mixin desktop-screen-1920 {
  @media (max-width: #{$desktop-screen-uhd}) {
    @content;
  }
}

@mixin desktop-screen-1440 {
  @media (max-width: #{$desktop-screen-hd}) {
    @content;
  }
}

@mixin desktop-screen-1280 {
  @media (max-width: #{$desktop-screen-sxga}) {
    @content;
  }
}

@mixin desktop-screen-1024 {
  @media (min-width: #{$desktop-screen-base + 1px}) {
    @content;
  }
}
