// color
$white: #fff;
$black: #000;
$primary: #000;
$secondary: #b4e114;
$tertiary: #003278;
$header-nav-link: #ffffffb3;
$header-border: #fff3;
$black-3: #0000004d;
$white-2: #fff3;
$header-border: #fff3;
$footer-nav: #797979;
