$zIndexNegative1: -1;
$zIndex0: 0;
$zIndex1: 1;
$zIndex2: 2;
$zIndex3: 3;
$zIndex4: 4;
$zIndex5: 5;
$zIndex6: 6;
$zIndex7: 7;
$zIndex8: 8;
$zIndex9: 9;
$zIndex10: 10;
$zIndex999: 999;


@mixin z-index($zIndex) {
  z-index: $zIndex;
}
